# dependencies
node_modules/
.pnpm-store/

# builds
.next/
dist/
build/
out/

# env
.env
.env.local
.env*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# system
.DS_Store
Thumbs.db

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# turbo
.turbo/

# supabase
supabase/.branches
supabase/.temp
*.tsbuildinfo

# next-pwa (build zamani avtomatik generasiya olunur)
apps/*/public/sw.js
apps/*/public/workbox-*.js
apps/*/public/sw.js.map
apps/*/public/worker-*.js
apps/*/public/fallback-*.js
